
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}


#product-overview h1 {
    color:white;
    font-family: "Anton",sans-serif;
}

.plan {
    background-color: #d5ffdc;
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: 8px;
    padding: 16px;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0,0, 0.4);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0,0, 0.4);
  border-radius: 4px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}


.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.plan__feature {
    margin: 8px 0px;
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    border: 1.5px solid #0e4f1f;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

#section__key-features {
    background-color: #ff1b84;
    margin-top: 80px;
    padding: 16px;
}

#section__key-features .section-title {
    color: white;
}

.key-features__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.key-feature {
   display: inline-block; 
   width: 30%;
   vertical-align: top;
}

.key-feature__description {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.key-feature__image {
    background-color: #ffdece;
    width: 128px;
    height: 128px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #424242;
}

.main-header {
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color:  #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0px;
    padding: 0px;
    list-style: none;
    vertical-align: middle;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px ;
}

.main-nav__item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0px;
}

.main-nav__item a:hover ,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px white solid;
}

.main-nav__item--cta a {
    color: white;
    background-color: #ff1b84;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover ,
.main-nav__item--cta a:active {
    background-color: white;
    color: #ff1b84;
    border: none;
}

.main-footer{
    background-color: black;
    margin-top: 48px;
    padding: 32px;
}

.main-footer__links {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0px 16px;
}

.main-footer__link a {
    text-decoration: none;
    color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active{
    color: #ccc;
}