
#product-overview {
    background-image: url("images/freedom.jpg");
    background-size: cover;
    background-position: left 10% bottom 70%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 33vh;
    margin-top: 2.75rem;
    position: relative;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color:white;
    font-family: "Anton",sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background-color: #d5ffdc;
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: 0.5rem;
    padding: 1rem;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0,0, 0.4);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0,0, 0.4);
  border-radius: 4px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.plan__feature {
    margin: 8px 0px;
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1.5px solid #0e4f1f;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

#section__key-features {
    background-color: #ff1b84;
    margin-top: 5rem;
    padding: 1rem;
}

#section__key-features .section-title {
    color: white;
}

.key-features__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.key-feature {
   display: inline-block; 
   width: 30%;
   vertical-align: top;
}

.key-feature__description {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
}

.key-feature__image {
    background-color: #ffdece;
    width: 128px;
    height: 128px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #424242;
}

.modal {
    position: fixed;
    /* display: none; */
    z-index: 200;
    top: 20%;
    right: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0,0, 0.5);
}

.modal_title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal_actions {
    text-align: center;
}

.modal_action {
border:  1px solid #0e4f1f;
background: #0e4f1f;
text-decoration: none;
color: white;
font: inherit;
padding:  0.5rem 1rem;
cursor: pointer;
}

.modal_action:hover,
.modal_action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal_action_negative {
    background: red;
    border-color:red;
}

.modal_action_negative:hover,
.modal_action_negative:active {
    background: #ff5454;
    border-color:#ff5454;
}