
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.main-header {
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color:  #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0px;
    padding: 0px;
    list-style: none;
    vertical-align: middle;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px ;
}

.main-nav__item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0px;
}

.main-nav__item a:hover ,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px white solid;
}

.main-nav__item--cta a {
    color: white;
    background-color: #ff1b84;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover ,
.main-nav__item--cta a:active {
    background-color: white;
    color: #ff1b84;
    border: none;
}

.main-footer{
    background-color: black;
    margin-top: 48px;
    padding: 32px;
}

.main-footer__links {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0px 16px;
}

.main-footer__link a {
    text-decoration: none;
    color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active{
    color: #ccc;
}