main {
    padding-top: 2rem;
}

.background {
   background: url("../images/plans-background.jpg") center/cover;
   filter: grayscale(40%);
   width: 100vw;
   height: 100vh;
   position: fixed;
   z-index: -1;
}

.plan-item {
    border: 2px solid #0e4f1f;
    width: 80%;
    margin: 1rem 0;
    border-left: none;
    position: relative;
    z-index: 0;
}

.plan-item a {
   text-decoration: none;
   display: block;
   color: inherit;
   padding: 2rem;
}

.plan-item:hover,
.plan-item:active {
    border: 2px solid #ff5454;
    box-shadow: 1px 1px 1px 1px rgba(0, 0,0, 0.4);
 }

 .plan-badge {
   position: absolute;
   background: #ff5454;
   color: white;
   font-size: 0.75rem;
   top: 0px;
   right: 0px;
   margin: 1.25rem;
   padding: 0.5rem;
 }

 .plan-desc {
    color: #979797;
 }

 .plan-detail {
    color: #0e4f1f;
    font-size: 1.25rem;
    border: 1px solid #0e4f1f;
    padding: 0.5rem;
    background: white;
 }

 .clearfix {
    clear: both;
 }

 #plus {
    background: rgba(213,255,220,0.95);
 }

 #free {
    background: rgba(234,252,237,0.95);
    float: right;
    border-left: 4px solid #0e4f1f;
    border-right: none;
    text-align: right;
 }

 #free:hover,
 #free:active {
    border-left: 2px solid #ff5454;
 }
 
 #premium {
    background: rgba(14,79,31, 0.95);
 }

 #premium .plan-title {
    color: white;
 }

 #premium .plan-desc {
    color: #bbb
 }